
<% @teams.each_with_index do |team, index| %>
<div class="row <%= index.even? ? 'even-row' : 'odd-row' %>">
  <div class="col-xs-6">
    <p><%= team.name %></p>
  </div>
  <div class="col-xs-5">
    <p><strong>lowest price:</strong> <%= team.lowest_price %></p>
  </div>
  <div class="col-xs-1">
    <p><%= link_to 'buy', team_sell_requests_path(team), class: 'btn btn-primary' %></p>
  </div>
</div>
<% end %>
