<div class="row padding">
  <div class="col-xs-3">
    <p><b>Team</p></b>
  </div>
  <div class="col-xs-3">
    <p><b>Book Value</p></b>
  </div>
  <div class="col-xs-3">
    <p><b>Lowest Price</p></b>
  </div>
</div>

<% @teams.each_with_index do |team, index| %>
<div class="row <%= index.even? ? 'even-row' : 'odd-row' %>">
  <div class="col-xs-3 vcenter">
    <p><%= team.name %></p>
  </div>
  <div class="col-xs-3 vcenter">
    <p> - </p>
  </div>
  <div class="col-xs-3 vcenter">
    <p><%= team.lowest_price %></p>
  </div>
  <div class="col-xs-2 padding-top padding-bottom">
    <%= link_to 'buy', team_sell_requests_path(team), class: 'btn btn-primary outline' %>
  </div>
</div>
<% end %>
