<div class="container">

  <div class="row">
    <h1>Sell <%= @team.name %></h1>
  </div>
  
  <div class="row">
    <label>Book Value</label>
    <p><%= @team.book_value %></p>
  </div>
  
  <div class="row">
    <label>Market Price</label>
    <p><%= @team.market_price_formated %></p>
  </div>
  
  <div class="row">
    <h3>Available Sellers</h3>
  </div>

  <%= render 'sell_requests/index_buy' %>
  
</div>
