<% seasons.each_with_index do |season, index| %>
  <div class="row <%= index.even? ? 'even-row' : 'odd-row' %>">
    <div class="col-xs-4 vcenter">
      <p><%= season.league.name %> | <%= season.name %></p>
    </div>
    <div class="col-xs-4 padding-top padding-bottom">
      <%= link_to 'View', set_current_season_path(season), class: 'btn btn-primary outline' %>
    </div>
  </div>
<% end %>
