<div style="container">
  <% @seasons.each do |season| %>
    <div class="row">
      <div class="col-xs-9">
        <td><%= season.name %></td>
      </div>
      <div class="col-xs-1">
        <p><%= link_to 'Show', show_season_path(season) %></p>
      </div>
      <div class="col-xs-1">
        <p><%= link_to 'Edit', edit_season_path(season) %></p>
      </div>
      <div class="col-xs-1">
        <p><%= link_to 'Delete', delete_season_path(season), method: :delete, data: { confirm: 'Are you sure?' } %></p>
      </div>
    </div>
  <% end %>
</div>
