<div class="container">
  <div class="row">
    <h1>Join A Season<h1>
  </div>
  
  <% @seasons.each do |season| %>
  <div class="row">
    <div class="col-xs-4">
      <p><%= season.name %></p>
    </div>
    <div class="col-xs-4">
      <%= link_to 'Join', join_season_path(season), method: 'post', class: 'btn btn-primary outline' %>
    </div>
  </div>
  <% end %>
</div>
