<style>
div.col-xs-9 {
  border-style: solid;
  border-width: 1px;
}
div.col-xs-1 {
  border-style: solid;
  border-width: 0px;
}
.btn-primary {
  background: #0099cc;
  color: #ffffff;
  border-radius:0;
}
</style>

<div class="container">
  <div class="row">
    <h2>Name</h2>
  </div>

  <% @leagues.each do |league| %>
    <div class="row">
      <div class="col-sx-9">
        <%= league.name %>
      </div>
      <div class="col-xs-1">
        <%= link_to 'Show', show_league_path(league) %>
      </div>
      <div class="col-xs-1">
        <%= link_to 'Edit', edit_league_path(league) %>
      </div>
      <div class="col-xs-1">
        <%= link_to 'Delete', delete_league_path(league),  method: :delete, data: { confirm: 'Are you sure?' } %><
      </div>
  <% end %>
</div>
