<div class="row padding">
  <div class="col-xs-5">
    <p><b>Team</b></p>
  </div>
  <div class="col-xs-5">
    <p><b>Blueprints</b></p>
  </div>
</div>
<% @holdings.each_with_index do |holding, index| %>
  <div class="row <%= index.even? ? 'even-row' : 'odd-row' %>">
    <div class="col-xs-2 vcenter">
      <p><%= holding.team.name %></p>
    </div>
    <div class="col-xs-2 vcenter">
      <p> Book Value </p>
    </div>
    <div class="col-xs-2 vcenter">
      <p> Market Value </p>
    </div>
    <div class="col-xs-3 vcenter">
      <p><%= holding.available_blueprints%></p>
    </div>
    <div class="col-xs-3 vcenter">
      <p>Combined Value</p>
    </div>
  </div>
<% end %>
