<div class="row">
  <div class="col-xs-5">
    <p><b>Team</b></p>
  </div>
  <div class="col-xs-5">
    <p><b>Blueprints</b></p>
  </div>
</div>
<% @holdings.each_with_index do |holding, index| %>
  <div class="row <%= index.even? ? 'even-row' : 'odd-row' %>">
    <div class="col-xs-5 vcenter">
      <p><%= holding.team.name %></p>
    </div>
    <div class="col-xs-5 vcenter">
      <p><%= holding.blue_prints %></p>
    </div>
    <div class="col-xs-2 padding-top padding-bottom">
      <%= link_to 'sell', sell_holding_path(holding), class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
