<div class="row">
  <div class="col-xs-4">
    <p><b>Team</b></p>
  </div>
  <div class="col-xs-4">
    <p><b>Blueprints</b></p>
  </div>
  <div class="col-xs-4">
    <p><b>Sell</b></p>
  </div>
</div>
<% @holdings.each_with_index do |holding, index| %>
  <div class="row <%= index.even? ? 'even-row' : 'odd-row' %>">
    <div class="col-xs-4">
      <p><%= holding.team.name %></p>
    </div>
    <div class="col-xs-4">
      <p><%= holding.blue_prints %></p>
    </div>
    <div class="col-xs-4">
      <p><%= link_to 'sell', sell_holding_path(holding), class: 'btn' %></p>
    </div>
  </div>
<% end %>
