<div class="row padding">
  <div class="col-xs-5">
    <p><b>Price</b></p>
  </div>
  <div class="col-xs-5">
    <p><b>Amount</b></p>
  </div>
</div>

<% @buy_requests.each_with_index do |buy_request, index| %>
  <div class="row <%= index.even? ? 'even-row' : 'odd-row' %>">  
    <div class="col-xs-5 vcenter">
      <p><%= buy_request.price %></p>
    </div>
    <div class="col-xs-5 vcenter">
      <p><%= buy_request.amount %></p>
    </div>
    <div class="col-xs-2 padding-top padding-bottom">
      <%= link_to 'Sell To', sell_buy_request_path(buy_request), class: 'btn btn-primary outline' %>
    </div>
  </div>
<% end %>

