<div class="container padding-home">
  <div class="row">
    
    <% if @active_seasons.empty? %>
      <h2>Active Seasons</h2>
      <center><h5>You currently not associated with any active seasons.<h5>
      <center><h5>To join a season, click the Join A Season button above.<h5>
    <% else %>
      <h2>Active Seasons</h2>
    <% end %>
  </div>
  
  
  <%= render 'seasons/active_season_index', seasons: @active_seasons %>

</div>
