<div class="container padding-home">
  <div class="row">
    
    <% if @seasons.empty? %>
      <h2>Active Seasons</h2>
      <center><h3>You currently not associated with any active seasons.<h3></center>
      <center><h4>To join a season, click the Join A Season button above.<h4></center>
    <% else %>
      <h2>Active Seasons</h2>
    <% end %>
  </div>
  
  
  <%= render 'seasons/active_season_index', seasons: @active_seasons %>

</div>
