<div class="container">
  <center><i class="fa fa-futbol-o fa-5x" aria-hidden="true"></i></center>
  <center><h2>Welcome <%= current_user.name %> to BluePrint! </h2></center>
  <center><p>Blueprint extends the stock market to sports. 
  Buy and sell stocks of your favorite teams. 
  Win real money! </p></center>
  

</div>
