<div class="container padding-relative-top">
  <center><i class="fa fa-futbol-o fa-5x" aria-hidden="true"></i></center>
  <center><h2>Hi <%= current_user.name %>! Welcome to BluePrint... </h2></center>
  <center><p>
    Blueprint extends the stock market to sports. 
    Buy and sell stocks of your favorite teams to 
    win real money! 
  </p></center>
  

</div>
