<div class="container">
  
  <h2>Player List</h2>
  <% @players.each do |player| %>
  <div class="row">  
    <div class="col-xs-9">
      <label>Username</label>
      <p><%= player.name %></p>
    </div>
    <div class="col-xs-3">
      <%= link_to 'Delete', delete_player_path(player.id), method: 'delete', class: 'btn btn-primary' %>
    </div>
  </div>
  <% end %>

  <%= link_to 'Register Player', new_player_path, class: 'btn btn-primary' %>

</div>
