<style>

div.col-xs-9 {
  border-style: solid;
  border-width: 1px;
}

.btn-primary {
  border-style: solid;
  border-width: 1px;
}

</style>

<div class="container">
  <h2>Player List</h2>
  <h3>Username</h3>

  <% @players.each do |player| %>
  <div class="row">  
    <div class="col-xs-9">
      <p><%= player.name %></p>
    </div>
    <div class="col-xs-3">
      <%= link_to 'Delete', delete_player_path(player.id), method: 'delete', class: 'btn btn-primary' %>
    </div>
  </div>
  <% end %>

  <%= link_to 'Register Player', new_player_path, class: 'btn btn-primary' %>

</div>
