<style>
div.col-xs-9 {

} 
</style>

<div class="container">
  <h2>Player List</h2>
  <h5>Username</h5>

  <% @players.each do |player| %>
  <div class="row">  
    <div class="col-xs-9">
      <p><%= player.name %></p>
    </div>
    <div class="col-xs-3">
      <%= link_to 'Delete', delete_player_path(player.id), method: 'delete', class: 'btn btn-primary' %>
    </div>
  </div>
  <% end %>

  <%= link_to 'Register Player', new_player_path, class: 'btn btn-primary' %>

</div>
