/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 = require_tree .
 = require_self
 */
 .colored_row_1 {
  background-color:gray;
 }
 .colored_row_2 {
  background-color:0x999;
 }
 
 .nav.navbar-nav li a {
  color: white !important; 
 }
 
 .navbar-custom {
  background-color: #2a67a4 !important;
 }
 
 .form {
  font-size: 20px;
 }
 
.even-row {
  background-color: 	#D3D3D3;
}

.btn-lg {
  font-size: 10px;
  line-height: 1.33;
  border-radius: 6px;
}

.btn-primary {
  color: #fff;
  background-color: #428bca;
  border-color: #357ebd;
  border-radius:0;
}

.btn.outline {
	background: none;
	padding: 12px 22px;
}

.btn-primary.outline {
	border: 2px solid #0099cc;
	color: #0099cc;
}

.btn {
	padding: 14px 24px;
	border: 0 none;
	font-weight: 700;
	letter-spacing: 1px;
	text-transform: uppercase;
}
.padding {
	padding-top:20px;
 }
 .padding-bottom {
 	padding-bottom:5px;
 }
 
 .padding-top {
 	padding-top:5px;
 }
 
 .text-center {
    	vertical-align: middle;
    	padding-top: 29px;
 }
