/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 = require_tree .
 = require_self
 */
 .colored_row_1 {
  background-color:gray;
 }
 .colored_row_2 {
  background-color:0x999;
 }
 
 .nav.navbar-nav li a {
  color: white !important; 
 }
 
 .navbar-custom {
  background-color: #2a67a4 !important;
 }
 
.even-row {
  background-color: #E7E7E7;
}

.btn-lg {
  font-size: 10px;
  line-height: 1.33;
  border-radius: 6px;
}

.btn-primary {
  color: #fff;
  background-color: ##2a67a4;
  border-color: #2a67a4;
  border-radius:0;
}

.btn.outline {
	background: none;
	padding: 12px 22px;
}

.btn-primary.outline {
	border: 2px solid #2a67a4;
	color: #2a67a4;
}

.btn {
	padding: 14px 24px;
	border: 0 none;
	font-weight: 900;
	letter-spacing: 1px;
	text-transform: uppercase;
}
.padding {
	padding-top:20px;
 }
 .padding-bottom {
 	padding-bottom:5px;
 }
 
 .padding-top {
 	padding-top:5px;
 }
 
 .vcenter {
    	padding-top:18px;
 }

h1, h2, h3, h4, h5 { 
	font-family: 'Open Sans', sans-serif !important;
}

p, form, a {
	font-family: 'Lato', sans-serif !important;
}

body { 
    background: url("https://raw.githubusercontent.com/AquaSchematicDevelopment/BluePrintApp/second_iteration/app/assets/images/cream_dust/cream_dust.png") repeat 0 0;
}

form {
  font-size: 14px;
  
}
